<a href="https://colab.research.google.com/github/sitthatkaja/multivariate/blob/main/Multivariate_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาทำข้อสอบใน Colab Notebook นี้โดยกรอกข้อมูลของตัวเองใน cell ที่ 2 แล้วรัน cell ที่ 1 - 5 และเริ่มทำข้อสอบใน cell ที่ 6 เป็นต้นไป

โดยโจทย์คือ
1. ข้อมูลโจทย์ อยู่ใน ตัวแปร ```Data```
2. ทำ clustering แล้วทำ visualize ข้อมูลแบบ 2 มิติ
3. ลด Dimension ของข้อมูลเหลือ 2 มิติ แล้วทำ clustering แล้ว visualize ข้อมูลแบบ 2 มิติ
4. เปรียบเทียบความแตกต่างของผลข้อ 2. กับ ข้อ 3.
5. เขียน comments อธิบายทุกขั้นตอน
6. อัด video อธิบาย code ทุกๆขั้นตอนรวมถึงผลแล้วอัพลง youtube ในรูปแบบ unlist 
7. commit โดยใช้ชื่อ commit เป็น link youtube ที่อธิบาย code ในข้อ 6.

กำหนดส่งวันที่ 2 พฤษภาคม 2564 (โดยให้มากรอกวันที่ commit ครั้งสุดท้ายใน sheet: https://docs.google.com/spreadsheets/d/1_qJwLDJVtOW1HxBcf_FHVc6UT4J_SOonuR6o3EEnVzw/edit?usp=sharing ช่อง Final)

In [1]:
from sklearn.datasets import make_blobs
import random,math
import numpy as np
import pandas

In [2]:
Name = 'สิทธัตกะ จรัสแสง'
ID = '6230205412'

In [3]:
def DataGenerator(name,id):
    random.seed(int(id[3:6]))
    numfeat = random.randint(20,30)
    ct = random.randint(len(name)-6,len(name))
    
    X, y = make_blobs(n_samples=10000, centers=ct, n_features=numfeat , random_state=int(id[3:6]))

    print(f'{id[3:6]}:{numfeat}:{ct}')
    X_t = (X[:,1]*2)+int(id[3])
    X_t2 = (X[:,-1]*5)+int(id[4])

    DT = np.append(X,X_t.reshape([10000,1]),axis=1)
    DT = np.append(DT,X_t2.reshape([10000,1]),axis=1)
    
    return pandas.DataFrame(DT)

In [4]:
Data = DataGenerator(Name,ID)

020:30:16

In [5]:
Data

             0          1         2   ...         29         30         31
0    -10.187117   5.645359 -1.512009  ... -10.452964  11.290718 -50.264820
1      8.802957  -9.680265 -5.146325  ...   4.753808 -19.360529  25.769040
2      4.566708  10.088068  6.267673  ...   3.636315  20.176137  20.181577
3     -1.557750  -5.619996 -0.729111  ...   7.054722 -11.239992  37.273609
4      9.105714 -10.918593 -6.447384  ...   5.055226 -21.837186  27.276130
...         ...        ...       ...  ...        ...        ...        ...
9995   1.012739  -5.982394 -2.377600  ...  10.680069 -11.964788  55.400344
9996   1.971844   9.351393  5.487986  ...   0.813355  18.702787   6.066777
9997   4.313977   7.818759  6.398568  ...   3.322278  15.637518  18.611389
9998   3.029997  -7.750469  9.031552  ... -10.723758 -15.500938 -51.618788
9999   5.167087  11.360828  5.989421  ...   1.784168  22.721657  10.920841

[10000 rows x 32 columns]

ข้อมูลที่ได้มาเป็นโจทย์ที่ได้มาจาก Seed 020:30:16 ซึ่งมีข้อมูลจำนวน 10000 แถวและ 32 คอลัมน์ จากนั้นทำการเตรียมข้อมูลก่อนนำไปใช้ทำการตัดตัวที่มีค่าสมประสิทธิ์ความสัมพันธิ์ (Correlation) กันเองออกไป เพื่อลดข้อมูลที่เหมือนกันออกไป

ดูขนาดของข้อมูลที่กำหนดมาให้

In [6]:
Data.shape

(10000, 32)

จากนั้นดูขนาดของ Correlation coeficient จากข้อมูล

In [8]:
corr = np.corrcoef(Data.to_numpy().T)
corr.shape

(32, 32)

จากนั้นให้ทำการวนลูปหาค่าสัมประสิทธิ์ความสัมพันธ์ (Correlation) ที่ซ้ำกัดเพื่อขจัดข้อมูลนั้นออกไป

In [9]:
for i in range(corr.shape[0]):
    for j in range(corr.shape[1]):
        if (i !=j) and (corr[i,j] == 1.):
            print(f'row = {i} column = {j} corrcoef = {corr[i,j]}')

row = 1 column = 30 corrcoef = 1.0
row = 30 column = 1 corrcoef = 1.0

จากการวนลูปพบว่าค่าที่ 1 และค่า 30 มีค่าที่เท่ากันหรือซ้ำกัน ฉะนั้นจำเป็นที่จะต้องตัดข้อมูลออกก่อนจึงนำไปใช้ โดยการแสดงข้อมูลทั้งหมด

In [31]:
newdata = Data.iloc[:,1:30]
newdata

             1         2         3   ...        27        28         29
0      5.645359 -1.512009 -8.408605  ... -4.957104  6.386672 -10.452964
1     -9.680265 -5.146325 -1.400457  ...  5.241182 -1.075735   4.753808
2     10.088068  6.267673 -5.007461  ... -0.567453  3.676044   3.636315
3     -5.619996 -0.729111  7.873232  ... -1.835569 -1.134072   7.054722
4    -10.918593 -6.447384  1.260397  ...  5.075417 -1.536883   5.055226
...         ...       ...       ...  ...       ...       ...        ...
9995  -5.982394 -2.377600  3.991366  ...  5.375995 -0.445427  10.680069
9996   9.351393  5.487986  5.947889  ...  5.859200  1.094162   0.813355
9997   7.818759  6.398568 -4.755216  ...  0.922176  3.686926   3.322278
9998  -7.750469  9.031552  9.307987  ...  2.054371  2.182887 -10.723758
9999  11.360828  5.989421 -5.527974  ... -0.791921  5.813688   1.784168

[10000 rows x 29 columns]

ทำให้ได้ข้อมูลใหม่มาใช้งาน

***หมายเหตุ : ข้อมูลที่อาจารย์ให้มาในชื่อ columns เป็น type ที่ไม่สามารถทำการ drop ได้จึงจำเป็นที่จะต้องใช้ data.iloc ในการทำการตัด columns ออกไปและไม่สามารถนำข้อมูลที่ไม่จำเป็นต้องโดนตัดกลับมาให้ได้ เนื่องจากอาจารย์ยังไม่สอนเชื่อมตาราง***